<div class="home-container">
    <section class="about-section">
      <div class="about-text">
        <h1>Hello, I'm <span>Pavan Kumar Gadham</span></h1>
        <p>
          I'm a passionate Full Stack Developer with hands-on experience in building dynamic, scalable web applications using Django (Python) for the backend and Angular for the frontend. 
          With a strong foundation in both frontend aesthetics and backend logic, I thrive in creating seamless user experiences and efficient systems under the hood. 🍳
        </p>
      </div>

      <div class="profile-pic">
        <img src="assets/images/PAVAN.jpg" alt="Pavan's photo" />
      </div>
    </section>

    <div class="social-links">
      <a href="https://github.com/Pavankumar-gadham" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/pavan-gadam" target="_blank" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <div class="resume">
      <a href="assets/pdf/PAVAN KUMAR GADAM.pdf" target="_blank" rel="noopener noreferrer">
        Resume
      </a>
    </div>
    
  
    <section class="nav-links">
      <h2>Explore My Portfolio</h2>
      <div class="links-grid">
        <a routerLink="/skills">Skills</a>
        <a routerLink="/projects">Projects</a>
        <a routerLink="/experience">Experience</a>
        <a routerLink="/education">Education</a>
        <a routerLink="/certifications">Certificates</a>
      </div>
    </section>
  
  

  <div class="contact-form">
    <h2>Contact Me</h2>
    <form (ngSubmit)="submitForm()" #contactForm="ngForm">
      <input type="text" name="name" [(ngModel)]="formData.name" required placeholder="Your Name" />
      <input type="email" name="email" [(ngModel)]="formData.email" required placeholder="Your Email" />
      <textarea name="message" [(ngModel)]="formData.message" required placeholder="Your Message"></textarea>
      <button type="submit" [disabled]="contactForm.invalid">Send</button>
    </form>
  
    <p *ngIf="submitted">✅ Thank you for reaching out!</p>
  </div>

</div>
  